body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  width: 80px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

/* PRODUIT */
.product-page {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.product-card {
  display: flex;
  gap: 50px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.product-card img {
  width: 350px;
  border-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info h1 {
  margin: 0;
  font-size: 32px;
}

.price {
  font-size: 24px;
  margin: 15px 0;
  font-weight: bold;
}

/* BOUTON */
button {
  padding: 15px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s; 
  background: 0.2s;
}

button:hover {
  background: #333;
  transform: scale(1.05);
}

#cart-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
.cart {
  max-width: 800px;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 80px;
  border-radius: 8px;
}
.img-center {
  display: block;
  margin: 20px auto;
  max-width: 5px;   /* taille normale */
  height: auto;
}
img {
  max-width: 50%;
  height: auto;
}
